html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/*start header*/
header{
	float:left;
	width:100%;
	position:fixed;
	z-index:999;
	top:0px;
	left:0px;
}

.navmenulight{
	background-color: rgba(255, 255, 255, 1);	
	
	-moz-box-shadow: 0 1px 10px #EBEEF2;
	-webkit-box-shadow: 0 1px 10px #EBEEF2;
	box-shadow: 0 1px 10px #EBEEF2;
}

.navmenudark{
	background-color:#434A54;	
	-moz-box-shadow: 0 1px 10px #434A54;
	-webkit-box-shadow: 0 1px 10px #434A54;
	box-shadow: 0 1px 10px #434A54;
}

.logo{
	transition: .15s ease-out background-color;
    -moz-transition:.15s ease-out background-color;
    -webkit-transition: .15s ease-out background-color;
    -o-transition:.15s ease-out background-color;
    position: absolute;
    z-index:20;
    background-color: rgba(255, 255, 255, 1);
}
    
.leftmenu{
	cursor:pointer;	
}

.rightsearchclose{
	float:right;
	position:absolute;
	right:0;	
}
.rightsearchclose img{
	float:right;	
}
.rightsearchclose{
	float:right;
	cursor:pointer;		
}
.rightsearchopen{
	width:300px;
	position:fixed;
	right:-305px;
	z-index:9999;
	background-color:#1abc9c;
	color:#FFF;
	padding:0px;
	background-image:url(../img/header/rightsearchopen.png);
	background-position:right;
	background-repeat:no-repeat;
	
	-webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
          transition: all 0.8s ease;		
}
.rightsearchopenclose{
	float:right;
	width:30px;
	height:20px;
	cursor:pointer;
	margin:20px;	
}
.rightsearchopen input[type='submit'], .rightsearchopen label{
	display:none;	
}
.rightsearchopen form{
	float:left;
	margin:0px;
	padding:0px;
	width:220px;	
}
.rightsearchopen input[type='text']{
	float:left;
	margin:20px 0 0 20px;
	margin-bottom:0px;
	padding:0px;
	border:0px;
	color:#FFF;
	font-size:17px;
	font-weight:normal;
	background-color:transparent;
	width:185px;
	height:auto;
	border-bottom:1px solid #fff;
	
	-webkit-box-shadow: inset 0px 0px 0px 0px rgba(244, 244, 246, 1.0);
	box-shadow: inset 0px 0px 0px 0px rgba(244, 244, 246, 1.0);	
}
/*end header*/

.menufilter{
	width:100%;
	height:3px;
}


.menu .blue{
	-webkit-box-shadow: inset 0px 3px 0px 0px rgba(20, 185, 213, 1.0);
	box-shadow: inset 0px 3px 0px 0px rgba(20, 185, 213, 1.0);	
}
.menu .blue ul li:hover{
	-webkit-box-shadow: inset 3px 0px 0px 0px rgba(20, 185, 213, 1.0);
	box-shadow: inset 3px 0px 0px 0px rgba(20, 185, 213, 1.0);	
}

.menu .green{
	-webkit-box-shadow: inset 0px 3px 0px 0px rgba(27, 188, 155, 1.0);
	box-shadow: inset 0px 3px 0px 0px rgba(27, 188, 155, 1.0);
}
.menu .green ul li:hover{
	-webkit-box-shadow: inset 3px 0px 0px 0px rgba(27, 188, 155, 1.0);
	box-shadow: inset 3px 0px 0px 0px rgba(27, 188, 155, 1.0);	
}

.menu .yellow{
	-webkit-box-shadow: inset 0px 3px 0px 0px rgba(255, 210, 5, 1.0);
	box-shadow: inset 0px 3px 0px 0px rgba(255, 210, 5, 1.0);
}
.menu .yellow ul li:hover{
	-webkit-box-shadow: inset 3px 0px 0px 0px rgba(255, 210, 5, 1.0);
	box-shadow: inset 3px 0px 0px 0px rgba(255, 210, 5, 1.0);	
}

.menu .orange{
	-webkit-box-shadow: inset 0px 3px 0px 0px rgba(243, 164, 107, 1.0);
	box-shadow: inset 0px 3px 0px 0px rgba(243, 164, 107, 1.0);
}
.menu .orange ul li:hover{
	-webkit-box-shadow: inset 3px 0px 0px 0px rgba(243, 164, 107, 1.0);
	box-shadow: inset 3px 0px 0px 0px rgba(243, 164, 107, 1.0);	
}

.menu .red{
	-webkit-box-shadow: inset 0px 3px 0px 0px rgba(247, 101, 112, 1.0);
	box-shadow: inset 0px 3px 0px 0px rgba(247, 101, 112, 1.0);
}
.menu .red ul li:hover{
	-webkit-box-shadow: inset 3px 0px 0px 0px rgba(247, 101, 112, 1.0);
	box-shadow: inset 3px 0px 0px 0px rgba(247, 101, 112, 1.0);	
}

.menu .violet{
	-webkit-box-shadow: inset 0px 3px 0px 0px rgba(195, 119, 228, 1.0);
	box-shadow: inset 0px 3px 0px 0px rgba(195, 119, 228, 1.0);
}
.menu .violet ul li:hover{
	-webkit-box-shadow: inset 3px 0px 0px 0px rgba(195, 119, 228, 1.0);
	box-shadow: inset 3px 0px 0px 0px rgba(195, 119, 228, 1.0);	
}

/*sticky footer -based on Twitter Bootstraps' fixed navigation */
/*- by Cristovao Verstraeten - apleasantview.com 2013 */
/*Tip: you might need to add a bottom margin to your main content box*/
 
.foot-fixed-bottom {
 bottom: 0;
 display: block;
 left: 0;
 margin-bottom: 0;
 position: fixed;
 right: 0;
 z-index: 1030;
}
.foot-fixed-bottom .container {
 margin-left: auto;
 margin-right: auto;
 padding-bottom: 2px;
}
.foot-fixed-bottom hr {
 border-image: none;
 border-style: solid none;
 border-width: 1px 0;
 margin: 0 0 5px;
 width: 100%;
}
.foot-fixed-bottom p {
 font-size: 14px;
 margin: 0 12px 15px;
}
 
/*that's all folks!*/